<button *ngIf="!dataImg" class="crop_button" (click)="downloadImage()"> Crop </button>
<div #screen *ngIf="!dataImg">
  <pdf-viewer  id="" [src]="pdfSrc" [render-text]="true" style="display: block;">
  </pdf-viewer>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="overlay_img" id="download" style="visibility: hidden;">
  <img id="canvas_img" #canvas>
  <a #downloadLink></a>
</div>

<div class="img_cropper" *ngIf="dataImg">
	<image-cropper [src]="dataImg"></image-cropper>
</div>

<router-outlet></router-outlet>