.crop_button {
	float: right;
    z-index: 0;
    margin: 49px;
    width: 9%;
    height: 39px;
    font-size: 20px;
}


#screen{
	position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 50px;
  z-index: 1;
}

.customize {
	background : red;
}

.overlay_img {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

image-cropper{
  width: 100% !important;
}